<div>
    <div class="w">
        <div class="card">
            <img>
            <h4></h4>
        </div>
        <div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div>
        <div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div><div class="card">
            <img>
            <h4></h4>
        </div>
    </div>
   
</div>