<form  (ngSubmit)="navigate(searchBarText.value)">
    <div id="navbar">      
            <div id="HB">     
                <li><a routerLink="home" (click)="searchBarText.value=''"> <span>Home</span> </a></li>  
                <li><a routerLink="bookmark" (click)="searchBarText.value=''"> <span>Bookmarks</span> </a></li>   
            </div>
            <div id="search">
                <span class="fa fa-search form-control-feedback"></span>
                <li><input type="search" #searchBarText placeholder="Search Movie"></li>
                <li><a (click)="navigate(searchBarText.value)">Search</a></li>
            </div>  
    </div>
</form>
    <div id="router">
        <router-outlet id="r1"></router-outlet>
    </div>
            
