<ng-container *ngIf="dataloaded=='no';else loadedtemplate">
    <ngx-skeleton-loader count="25"></ngx-skeleton-loader>
</ng-container>
<ng-template #loadedtemplate>
    <h1 class="title">{{apidata.Title}}</h1>
    <br>
    <div id="center"> <img [src]="replaceimagePoster(apidata.Poster)"> </div>
    <div style="text-align: center; "><button style="height: 30px; width: 125px; cursor: pointer; "
            (click)="bookmark()">bookmark</button></div>
    <p><strong>Plot:</strong>{{apidata.Plot}}</p>
    <hr>
    <p><strong>IMDB Rating:</strong>{{apidata.imdbRating}}</p>
    <hr>
    <p><strong>Genre:</strong>{{apidata.Genre}}</p>
</ng-template>