<ng-container *ngIf="checkIfResponse=='empty';else loadedtemplate">
    <app-moviesloader count="25"></app-moviesloader>
</ng-container>

<ng-template #loadedtemplate>
    <div *ngIf="checkIfResponse=='yes'">
        <div class="w">
            <div class="card" *ngFor="let item of apiData.results">
                <img id="lists" style="cursor: pointer;" [routerLink]="'../movieresult'"
                    [queryParams]="{'movieid':item.imdbId}" [src]="item.poster">
                <h4>{{item.title}}</h4>
             
                <h4><button  id="bookmarkbutton" [disabled]="bookmarkData[item.imdbId]" (click)="bookmark(item.imdbId)" >Bookmark</button></h4>
            </div>
        </div>
        <app-pagination [pagenumber]="currentPageNumber" [nopages]="totalPages" (back)="back()" (next)="next()"
            (goToPage)="goToPage($event)"></app-pagination>
    </div>
    <div *ngIf="checkIfResponse=='no'">
        <h1>OOPS</h1>
            <hr>
            No Movies found with similar text Please try again
    </div>
</ng-template>
