<ng-container *ngIf="checkifresponse=='empty';else loadedtemplate">
    <ngx-skeleton-loader count="25"></ngx-skeleton-loader>
</ng-container>
<ng-template #loadedtemplate>
    <div *ngIf="checkifresponse=='yes'">
        <div class="w">
            <div class="card" *ngFor="let item of apidata.results">
                <img id="lists" style="cursor: pointer;" [routerLink]="'../movieresult'"
                    [queryParams]="{'movieid':item.imdbId}" [src]="replaceimagePoster(item.poster)">
                <h4>{{item.title}}</h4>
            </div>
        </div>
        <app-pagination [pagenumber]="pagenumber" [nopages]="nopages" (back)="back()" (next)="next()"
            (goToPage)="goToPage($event)"></app-pagination>
    </div>
    <div *ngIf="checkifresponse=='no'">
        <div *ngIf="pagenumber==1">
            <h1>OOPS</h1>
            <hr>
            No Movies found with similar text Please try again
        </div>
        <div *ngIf="pagenumber!=1">
            <button (click)="back()"> < </button>
            <h1>Please Go Back
            </h1>
            <hr>
            End of Results
        </div>
    </div>
</ng-template>
