<ng-container *ngIf="bookmarksData.length==0; else  bookmarksNotZero">
    <h1>OOPS</h1>
    <hr>
    <h2 style="text-align: center;">No Bookmarks available</h2>
</ng-container>
<ng-template #bookmarksNotZero>
    <div class="layout">
        <div class="wrapper">
            <h1>Bookmarks</h1>
            <div class="layout__scroll">
                <div *ngFor="let item of bookmarksData" class="card">
                    <a routerLink="../movieresult" [queryParams]="{movieid:item.imdbId}"><img src="{{item.poster}}" /></a>
                    <div class="card-content">
                        <h4>{{item.title}}</h4>
                        <p>{{item.plot}}</p>
                        <hr>
                        <button (click)="removeBookmark(item.imdbId)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
