<div class="layout">
    <div class="wrapper">
        <h1>Bookmarks</h1>
        <div class="layout__scroll">
            <div *ngFor="let item of databookmark" class="card">
                <a routerLink="../movieresult" [queryParams]="{movieid:item.imdbId}"><img src="{{item.poster}}" /></a>
                <div class="card-content">
                    <h4>{{item.title}}</h4>
                    <p>{{item.plot}}</p>
                    <hr>
                    <button (click)="remove(item.imdbId)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>